<div class="text-center">
    <img src="error.gif" alt=""  width="" height="" >
</div>
<div>
    <form action="/upload" method="GET" enctype="multipart/form-data">
		<div class="form-group">
		<button type="submit" class="btn btn-outline-primary btn-lg" style="margin:auto;display:block">Go Back To Upload</button>
		</div>	
	</form>
</div>
<p align="center">
<button type="button" style="background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%"> mybuttonname</button>
</p>