<div class="jumbotron jumbotron-fluid" style='padding-top: 1%;padding-bottom: 2%;'> 
    <div class="container-fluid" style='padding-top: 0%'>
		<h1 class="display-4">Maze Solution</h1>
		<p class="lead">add some text here</p>
	</div>
    <div>
        <form class="form-inline" action="/result" method="POST" enctype="multipart/form-data">
			<div class="form-group mx-sm-3 mb-2">
			<button type="submit" class="btn btn-primary " style='margin-left:16px'>Show</button>
			</div>	
		</form>
    </div>
</div>
<div class="container-fluid">
    <img src="{{src}}" alt="solution" width="450" height="450" style="">
</div>
